# IDE
.idea/
.vs/

# Node Modules
node_modules/
npm-debug.log

# Foundry
*.lock
jsconfig.json
foundry
/packs/
tos.zip

*.log
module/instructions.md
/src/packs
Kniha kouzel pro ToS V12.1 (WIP).xlsx
SPELL_EFFECTS_ANALYSIS.md
